<form class="form-inline text-center" action="/search">
  <%= render partial: 'v2/search/institution_filter' %>
  <%= render partial: 'v2/search/category_filter' %>
  <%= render partial: 'v2/search/patent_id_filter' %>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg">Search</button>
  </div>
  <br/>
  <br/>
  <%= render partial: 'v2/search/stage_of_research_filter' %>
  <%= render partial: 'v2/search/patent_status_filter' %>
</form>
