<h6>PATENT ID</h6>
<%= render partial: 'v2/search/patent_id_filter' %>
<hr/>
<h6>PATENT CATEGORY</h6>
<%= render partial: 'v2/search/category_filter' %>
<hr/>
<h6>INSTITUTION</h6>
<%= render partial: 'v2/search/institution_filter' %>
<hr/>
<h6>STATE OF RESEARCH</h6>
<%= render partial: 'v2/search/stage_of_research_filter' %>
<hr/>
<h6>PATENT STATUS</h6>
<%= render partial: 'v2/search/patent_status_filter' %>
<hr/>
<h6>KEYWORDS</h6>
<%= render partial: 'v2/search/keywords_filter' %>
