<div class="col-sm-12 col-md-12">
  <div class="thumbnail">
    <div class="caption">
      <ol class="breadcrumb">
        <li><%=patent.institution.name%></li>
        <li><%=patent.patent_id%></li>
        <li class="active">
          [<%=patent.patent_status_index.status%>]
        </li>
      </ol>
      <h3>
         <%=patent.title%>
      </h3>
      <p>
        <a href="/patent/<%=patent.institution.name.downcase%>/<%=patent.ref%>" class="btn btn-primary" role="button">More info</a>
      </p>
    </div>
  </div>
</div>
