<div class="col-sm-12 col-md-12">
  <div class="thumbnail">
    <div class="caption">
      <ol class="breadcrumb">
        <li><%=patent.institution.name%></li>
        <li><%=patent.patent_id%></li>
        <li class="active">
          [<%=patent.status_label%>]
        </li>
      </ol>
      <% if patent.keyword_list.any? %>
        <strong>Keywords: </strong>
        <%=patent.keyword_list%>
      <% end %>
      <div class="bs-callout bs-callout-primary">
        <h3><%=patent.title%></h3>
         <hr/>
         <p>
           <%=patent.abstract%>
         </p>
       </div>
      <p>
        <a href="/patent/<%=patent.institution_name.downcase%>/<%=patent.ref%>" class="btn btn-primary" role="button">More info</a>
      </p>
    </div>
  </div>
</div>
