<div class="col-sm-12 col-md-12">
  <div class="thumbnail">
    <div class="caption">
      <ol class="breadcrumb">
        <li><%=patent.institution.name%></li>
        <li><%=patent.patent_id%></li>
        <li class="active">
          [<%=patent.status_label%>]
        </li>
      </ol>
      <% if patent.keyword_list.any? %>
        <strong>Keywords: </strong>
        <%=patent.keyword_list%>
      <% end %>
      <div class="bs-callout bs-callout-primary">
        <h3>
          <a href="/patent/<%=patent.institution_name.downcase%>/<%=patent.ref%>"><%=patent.title%></a>
        </h3>
        <% if patent.inventor_list.any? %>
          <strong>Inventors: </strong>
          <%=patent.inventors_list%>
        <% end %>
        <hr/>
        <p>
           <%=truncate(patent.abstract, length: 230)%>
           <a href="/patent/<%=patent.institution_name.downcase%>/<%=patent.ref%>">More...</a>
        </p>
       </div>
    </div>
  </div>
</div>
