<div class="row">
  <%= render partial: 'v2/search/patent_thumbnail' %>
  <%= render partial: 'v2/search/patent_thumbnail' %>
  <%= render partial: 'v2/search/patent_thumbnail' %>
</div>
<div class="row">
  <%= render partial: 'v2/search/patent_thumbnail' %>
  <%= render partial: 'v2/search/patent_thumbnail' %>
  <%= render partial: 'v2/search/patent_thumbnail' %>
</div>
<div class="row">
  <%= render partial: 'v2/search/patent_thumbnail' %>
  <%= render partial: 'v2/search/patent_thumbnail' %>
  <%= render partial: 'v2/search/patent_thumbnail' %>
</div>
